body{
    margin: 0;   
    background-color:white;
    /* background-image: url(fundo.png); */
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f3a025;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header > p {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 24px
}

a{
    text-decoration: none;
    color: black;
}

p{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h3{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 35px;
}

h5{
    font-family: 'Patrick Hand', sans-serif;
    font-size: 23px;
    margin: 0;
}

.logo{
    width: 200px;
    height: 80px;
}


.mobile{
    height: 300px;
    width: 300px;
    justify-content: center;
    margin: 20px;
}

.faq{
    height: 300px;
    width: 300px;
    justify-content: center;
    margin: 20px;
}

.sobre{
    height: 250px;
    width: 215px;
    justify-content: center;
    margin: 20px;
}

.rp{
    height: 50px;
    width: 50px;
    justify-content: center;
    margin: 20px;
    margin: auto;
}

#secao1{
    font-size: 19px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

#secao1 > div > img{
    width: 225px;
    height: 225px;
    margin: auto;
}

.flex{
    display: flex;
}

.flex > div {
}

.flex > div > h3{
    margin: 0;
}

.flex > div > p {
    margin: 0;
}

.bottom{
    margin-bottom: 25px;
}

#secao2{
    font-size: 19px;
    margin: auto;
    margin-top: 100;
    width: 80%;
}

#secao3{
    font-size: 19px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

#secao4{
    font-size: 19px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}

#secao5{
    font-size: 19px;
    margin: auto;
    margin-top: 100px;
    width: 80%;
}


.flex2{
    display: flex;
    width: 130px;
    margin: auto;
    padding: 10px;
}

footer{
    background-color: #f3a025;
    width: 100%;
    height: 10%;
    font-size: 19px;
    margin: auto;
    margin-top: 100px;
    justify-content: center;
}

footer > p {
    font-family: 'Patrick Hand', sans-serif;
    font-size: 24px;
    margin: auto;
    text-align: center;
}

/*CARRROSSEL*/
*{box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-top: 10px;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/*botao de voltar e proximo */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color:#f3a025;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}